/* --------- ESTILOS GENERALES --------- */
* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Liter", sans-serif;
    font-weight: 400;
    font-style: normal;

}
li {
    list-style-type: none; 
}

a { 
    text-decoration: none;
}

body{

    padding: 2% 2.5% 2% 2.5%;
    background-color: #4c5056;
}

/* ---------- HEADER ---------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #838080d2;
    color: white;
    padding: 2vw;
    border-radius: 5vw;
}

header .music {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 10vw;
    max-width: 100px;
    margin-right: 2vw;
}


/* ---------- SEARCH ---------- */
.search {
    display: flex;
    align-items: center;
}
.search input {
    padding: 1vh;
    border: 1px solid #ccc;
    border-radius: 0.5vw 0 0 0.5vw;
}
.search button {
    padding: 1vh 2vw;
    background-color: #121111;
    color: black;
    border: none;
    border-radius: 0 4px 4px 0;
}
.search button:hover {
    background-color: #040303;
}

/* ---------- NAV ---------- */
.logres a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}
.logres a:hover {
    color: #0c0c0c;
}

/* --------- MAIN LAYOUT --------- */


main .container{
    display: flex;
    flex-wrap: wrap;

}

main .aleatorio h2{
    text-align: center; 
    font-weight: bold;
    align-content: center;
    width: 100%;
    padding: 5%;
    color: rgb(252, 248, 248);   
    background-color: #27292c;
    height: 30vh;
    margin: 0 1% 0 1%;
}

main .masVendidos h2{
    text-align: center; 
    font-weight: bold;
    align-content: center;
    width: 100%;
    padding: 5%;
    color: rgb(250, 248, 248);   
    background-color: #1c1d20;
    height: 30vh;
    margin: 0 1% 0 1%;
}

main .container .productos{
    width: 18%;
    background-color: rgb(5, 5, 5);
    margin: 1%;
    display: flex;
    flex-direction: column;
}
main .container .productos .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
main .container .productos .info h3{
    padding: 4% 2% 2% 2%;
}

main .container .productos .info p{
    padding: 2%;
}

main .container .productos .info a{
    padding: 2%;
    width: fit-content;
    background-color: rgb(61, 61, 61); 
    border-radius: 10px;
    margin: 2% 0 2% 2%;
}

main .container .productos img{
    width: 100%;
    border-radius: 5px;
    height: auto;
}

main .masVendidos{
    margin-top: 10vh;
}

/* --------- FOOTER --------- */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* --------- RESETEO --------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



/* --------- HEADER --------- */
header {
    background-color: #bbb6b6;
    color: white;
    padding: 15px;
}

header .music {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo img {
    width: 100px;
    margin-right: 20px;
}

/* --------- NAV --------- */
.logres a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}
.logres a:hover {
    color: #060606;
}

/* --------- SEARCH --------- */
.search {
    display: flex;
    align-items: center;
}
.search input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}
.search button {
    padding: 6px 12px;
    background-color: #ff4b5c;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.search button:hover {
    background-color: #e63c4f;
}

main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    display: grid;
}

/* --------- CONTENIDO DEL PRODUCTO --------- */
main .categorias {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2% 2.5% 2% 2.5%;
    background-color: rgb(48, 48, 48);
    border-radius: 10%;
    width: 15%;
    height: 6vh;
}
main .categorias ul li a{
    color: white;
}

.contenido {
    background-image: url(./img/fondo.jpg);
    border-radius: 1vw;
    padding: 2vw;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.contenido p {
    margin-bottom: 10px;
}
.contenido strong {
    font-size: 20px;
    color: #fdf8f8;
}
.contenido img {
    max-width: 100%;
    display: block;
    margin: 15px auto;
    border-radius: 8px;
}
.contenido ul {
    margin-top: 15px;
    padding-left: 20px;
}
.contenido li {
    margin-bottom: 5px;
}

/* --------- REVIEWS --------- */
.reviews {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.reviews p {
    margin-bottom: 10px;
}

/*-----REGISTRO-----*/
.bodyregistro {
    background-color: #4c5056;
    align-items: center;
    padding: 2% 2.5% 2% 2.5%;
}

.mainregistro h2 {
    text-align: center;
    color: rgb(239, 236, 236);
}

.mainregistro {
    margin: 5vh auto;
    width: 90%;
    max-width: 400px;
    padding: 3% 8% 3% 8%;
    background-image: url(../img/fondo.jpg);
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    border-radius: 2vw;
}

.registro {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registro input, 
.registro button {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    color: black;
    margin-top: 1vh;
}

.registro label {
    display: block;
    font-size: 13px;
    margin-bottom: 2px;
}

.registro div {
    margin-bottom: 12px;
}

.registro button {
    background-color: rgb(61, 61, 61);
    color: white;
}

.registro button:hover {
    background-color: #4c5056;
}

.registro input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

/*----LOGIN----*/
.bodylogin {
    background-color: #4c5056;
    align-items: center;
    padding: 2% 2.5% 2% 2.5%;
}

.mainlogin h2 {
    text-align: center;
    color: rgb(246, 244, 244);
}

.mainlogin {
    margin: 5vh auto;
    width: 90%;
    max-width: 400px;
    padding: 3% 8% 3% 8%;
    background-image: url(../img/fondo.jpg);
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.login {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login input, 
.login button {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 12px;
    color: black;
    margin-top: 5px;
}

.login label {
    display: block;
    font-size: 13px;
    margin-bottom: 2px;
}

.login div {
    margin-bottom: 12px;
}

.login button {
    background-color: rgb(61, 61, 61);
    color: white;
}

.login button:hover {
    background-color: #4c5056;
}

/*---- RESPONSIVE ----*/
@media (max-width: 1500px) {
    .productoscategoria,
    .productos {
        width: 18%;
        margin: 1%;
    }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .search, .logres { 
    margin-top: 10px; 
  } 
  main .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  main .container .productos {
    width: 45%;
    margin: 2%;
  }

  /* categorías */
  .categoriabuzos {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 420px) {
  header {
    padding: 10px;
    border-radius: 0;
  }

  .logo img {
    width: 60px;
  }

  main {
    max-width: 100%;
    margin: 0;
    padding: 10px;
  }

  main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  main .container .productos {
    width: 95%;       /* 1 producto ocupa casi todo el ancho */
    margin: 10px 0;
  }

  main .container .productos img {
    width: 100%;
    height: auto;
  }
}